<form nz-form [formGroup]="editForm" (ngSubmit)="editTodo()">

  <h4>Title:</h4>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input title!">
      <nz-input-group>
        <input type="text" nz-input formControlName="title" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>

  <h4>Description:</h4>
  <nz-form-item>
    <nz-form-control nzErrorTip="Max length 255!">
      <nz-textarea-count [nzMaxCharacterCount]="255">
        <textarea formControlName="description" nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
      </nz-textarea-count>
    </nz-form-control>
  </nz-form-item>

  <h4>Creation date:</h4>
  <p>{{todo.start | date:"short"}}</p>
  <ng-template [ngIf]="todo.end !== null">
    <h4>Completion date:</h4>
    <p>{{todo.end | date:"short"}}</p>
  </ng-template>

  <div class="buttons-container">
    <button nz-button nzBlock class="margin" [nzType]="'primary'">Edit</button>
    <button nz-button nzType="link" nzShape="circle" (click)="deleteTodo()">
      <span nz-icon nzType="delete" nzTheme="outline"></span>
    </button>
  </div>
</form>