<h4>Title:</h4>
<p nz-typography nzEditable [(nzContent)]="todo.title" (nzContentChange)="editTodo()"></p>

<h4>Description:</h4>
<p nz-typography nzEditable [(nzContent)]="todo.description" (nzContentChange)="editTodo()"></p>

<h4>Creation date:</h4>
<p>{{todo.start | date:"short"}}</p>
<ng-template [ngIf]="todo.end !== null">
  <h4>Completion date:</h4>
  <p>{{todo.end | date:"short"}}</p>
</ng-template>
<button nz-button nzType="link" nzShape="circle" (click)="deleteTodo()">
  <span nz-icon nzType="delete" nzTheme="outline"></span>
</button>