<div class="about-page-container">
  <h2>Sample todo app</h2>
  <h3>Features:</h3>
  <ul>
    <li>Authorization with implemented cloud history</li>
    <li>Three lists: todo, inProgress, done</li>
    <li>Filtering by alphabet and by creation date</li>
    <li>Drag and drop (on/off)</li>
    <li>Notifications</li>
    <li>Theme and board view switching (on/off)</li>
    <li>Localization [RU, EN]</li>
  </ul>
  <h3>Technology stack:</h3>
  <ul>
    <li>Angular</li>
    <li>Ng-zorro MUI</li>
    <li>Firebase (authorization/firestore)</li>
    <li>Angular CDK (DragAndDrop)</li>
    <li>Ngx-translate</li>
  </ul>
</div>