<ul nz-menu nzMode="horizontal">

  <li nz-submenu nzPlacement="bottomRight"
    [nzTitle]="(userName === 'User') ? ('HEADER.OPTIONS.USER.NAME' | translate) : userName" nzIcon="user">
    <ul>
      <li nz-menu-group nzTitle="Navigation">
        <ul>
          <li nz-menu-item [nzMatchRouterExact]="true" *ngIf="isLogin()" routerLink="board">
            {{"HEADER.OPTIONS.USER.BOARD" | translate}}</li>
          <li nz-menu-item [nzMatchRouterExact]="true" routerLink="about">{{"HEADER.OPTIONS.USER.ABOUT" | translate}}
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="Authentication">
        <ul>
          <li nz-menu-item [nzMatchRouterExact]="true" *ngIf="!isLogin()" routerLink="">{{"HEADER.OPTIONS.USER.LOGIN" |
            translate}}</li>
          <li nz-menu-item *ngIf="isLogin()" (click)="signOut()">{{"HEADER.OPTIONS.USER.SIGN-OUT" | translate}}</li>
        </ul>
      </li>
    </ul>
  </li>


  <li nz-submenu nzPlacement="bottomCenter" [nzTitle]="('HEADER.OPTIONS.TITLE'| translate)" nzIcon="setting">
    <ul>
      <ul nz-submenu nzPlacement="bottomCenter" [nzTitle]="'HEADER.OPTIONS.THEME.TITLE'| translate">
        <li class="menu-item-layout" nz-menu-item>{{darkTheme ? ('HEADER.OPTIONS.THEME.DARK' | translate) :
          ('HEADER.OPTIONS.THEME.LIGHT' |
          translate)}} <nz-switch [(ngModel)]="darkTheme" (click)="switchTheme($event)"></nz-switch></li>
      </ul>
      <ul nz-submenu nzPlacement="bottomCenter" [nzTitle]="'HEADER.OPTIONS.DRAG.TITLE'| translate">
        <li class="menu-item-layout" nz-menu-item>{{!canDrag ? ('HEADER.OPTIONS.DRAG.OFF' | translate) :
          ('HEADER.OPTIONS.DRAG.ON' |
          translate)}} <nz-switch [(ngModel)]="canDrag" (click)="switchDragAndDrop($event)"></nz-switch></li>
      </ul>

      <ul nz-submenu nzPlacement="bottomCenter" [nzTitle]="'Board View'| translate">
        <li class="menu-item-layout" nz-menu-item>{{isBoardView ? ('On' | translate) :
          ('Off' |
          translate)}} <nz-switch [(ngModel)]="isBoardView" (click)="switchBoardView($event)"></nz-switch></li>
      </ul>

      <ul nz-submenu nzPlacement="bottomCenter" [nzTitle]="'HEADER.OPTIONS.SORT.SORTING'| translate">
        <li nz-menu-item [nzSelected]="sortFilter === 'title'" (click)="sortOptionService.setSortOptions(filter.title)">
          {{"HEADER.OPTIONS.SORT.ALPHABET" | translate}}
        </li>
        <li nz-menu-item [nzSelected]="sortFilter === 'date'" (click)="sortOptionService.setSortOptions(filter.date)">
          {{"HEADER.OPTIONS.SORT.CREATION" | translate}}</li>
      </ul>

      <ul nz-submenu [nzTitle]="'HEADER.OPTIONS.LANGUAGE.LOCALIZATION'| translate">
        <li nz-menu-item [nzSelected]="currentLocalization === 'en'" (click)="switchLocalization('en')">
          {{"HEADER.OPTIONS.LANGUAGE.EN" | translate}}
        </li>
        <li nz-menu-item [nzSelected]="currentLocalization === 'ru'" (click)="switchLocalization('ru')">
          {{"HEADER.OPTIONS.LANGUAGE.RU" | translate}}</li>
      </ul>
    </ul>
  </li>
</ul>