<app-board-input></app-board-input>

<div class="board-wrapper">
  <div cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async"
    [cdkDropListConnectedTo]="[doneList, inProgressList]" class="board-colons-todo" (cdkDropListDropped)="drop($event)">
    <h2>
      <span>
        Todo
        <button nz-button nzType="text" nzShape="circle" (click)="changeFilterOrder(sortOptionService.sortAllTodo)">
          <span nz-icon
            [nzType]="(sortOptionService.sortAllTodo.order === 'ascend') ? 'sort-ascending' : 'sort-descending'"
            nzTheme="outline"></span>
        </button>
      </span>
      <div>
        <label nz-checkbox [(ngModel)]="checkAllTodo"
          (nzCheckedChange)="todoActionService.doActionWithTodo(todo, checkAllTodo, action.selectAll, collectionName.todo)">{{"BOARD.BUTTONS.SELECT-ALL"
          | translate}}</label>
        <button nz-button nzType="text" nzShape="circle" nz-dropdown [nzDropdownMenu]="todoMenu">
          <span nz-icon nzType="menu"></span>
        </button>
      </div>
    </h2>
    <ng-container
      *ngFor="let item of todo | async | sortTodo:sortOptionService.sortAllTodo.order:sortOptionService.sortAllTodo.filter; let i = index">
      <app-todo-item [checkAll]="checkAllTodo" [collectionName]="collectionName.todo" cdkDrag [title]="item.title"
        [todoItem]="item">
        <label nz-checkbox [(ngModel)]="item.checked" (nzCheckedChange)="checkTodo(collectionName.todo, item)"></label>
      </app-todo-item>
    </ng-container>
  </div>
  <nz-divider></nz-divider>

  <div cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress | async"
    [cdkDropListConnectedTo]="[doneList, todoList]" class="board-colons-inProgress" (cdkDropListDropped)="drop($event)">
    <h2>
      <span>
        In Progress
        <button nz-button nzType="text" nzShape="circle"
          (click)="changeFilterOrder(sortOptionService.sortAllInProgress)">
          <span nz-icon
            [nzType]="(sortOptionService.sortAllInProgress.order === 'ascend') ? 'sort-ascending' : 'sort-descending'"
            nzTheme="outline"></span>
        </button>
      </span>
      <div>
        <label nz-checkbox [(ngModel)]="checkAllInProgress"
          (nzCheckedChange)="todoActionService.doActionWithTodo(inProgress, checkAllInProgress, action.selectAll,collectionName.inProgress)">{{"BOARD.BUTTONS.SELECT-ALL"
          | translate}}</label>
        <button nz-button nzType="text" nzShape="circle" nz-dropdown [nzDropdownMenu]="inProgressMenu">
          <span nz-icon nzType="menu"></span>
        </button>
      </div>
    </h2>
    <ng-container
      *ngFor="let item of inProgress | async | sortTodo:sortOptionService.sortAllInProgress.order:sortOptionService.sortAllInProgress.filter; let i = index">
      <app-todo-item [checkAll]="checkAllInProgress" [collectionName]="collectionName.inProgress" cdkDrag
        [title]="item.title" [todoItem]="item">
        <label nz-checkbox [(ngModel)]="item.checked"
          (nzCheckedChange)="checkTodo(collectionName.inProgress, item)"></label>
      </app-todo-item>
    </ng-container>
  </div>
  <nz-divider></nz-divider>

  <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done | async"
    [cdkDropListConnectedTo]="[todoList, inProgressList]" class="example-list" class="board-colons-done"
    (cdkDropListDropped)="drop($event)">
    <h2>
      <span>
        Done
        <button nz-button nzType="text" nzShape="circle" (click)="changeFilterOrder(sortOptionService.sortAllDone)">
          <span nz-icon
            [nzType]="(sortOptionService.sortAllDone.order === 'ascend') ? 'sort-ascending' : 'sort-descending'"
            nzTheme="outline"></span>
        </button>
      </span>
      <div>
        <label nz-checkbox [(ngModel)]="checkAllDone"
          (nzCheckedChange)="todoActionService.doActionWithTodo(done, checkAllDone, action.selectAll,collectionName.done)">{{"BOARD.BUTTONS.SELECT-ALL"
          | translate}}</label>
        <button nz-button nzType="text" nzShape="circle" nz-dropdown [nzDropdownMenu]="doneMenu">
          <span nz-icon nzType="menu"></span>
        </button>
      </div>
    </h2>
    <ng-container
      *ngFor="let item of done | async | sortTodo:sortOptionService.sortAllDone.order:sortOptionService.sortAllDone.filter; let i = index">
      <app-todo-item [checkAll]="checkAllDone" [collectionName]="collectionName.done" cdkDrag [title]="item.title"
        [todoItem]="item">
        <label nz-checkbox [(ngModel)]="item.checked" (nzCheckedChange)="checkTodo(collectionName.done, item)"></label>
      </app-todo-item>
    </ng-container>
  </div>
  <nz-divider></nz-divider>
</div>

<nz-dropdown-menu #todoMenu="nzDropdownMenu">
  <app-todo-action-menu [collection]="todo" [checkAll]="checkAllTodo" [collectionName]="collectionName.todo"
    [context]="context"></app-todo-action-menu>
</nz-dropdown-menu>

<nz-dropdown-menu #inProgressMenu="nzDropdownMenu">
  <app-todo-action-menu [collection]="inProgress" [checkAll]="checkAllInProgress"
    [collectionName]="collectionName.inProgress" [context]="context"></app-todo-action-menu>
</nz-dropdown-menu>

<nz-dropdown-menu #doneMenu="nzDropdownMenu">
  <app-todo-action-menu [collection]="done" [checkAll]="checkAllDone" [collectionName]="collectionName.done"
    [context]="context"></app-todo-action-menu>
</nz-dropdown-menu>