<nz-input-group nzSize="large" [nzPrefix]="inputValue ? inputAddButton: inputPlusIcon" [nzSuffix]="inputClearTpl">
  <input type="text" nz-input [(ngModel)]="inputValue" placeholder="Add new Todo"
    (keyup.enter)="createTodoModal.openModal()" />
  <ng-template #inputAddButton>
    <button nz-button nzType="primary" (click)="createTodoModal.openModal()">Add</button>
  </ng-template>
  <ng-template #inputPlusIcon>
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </ng-template>
  <ng-template #inputClearTpl>
    <span nz-icon nzTheme="fill" nzType="close-circle" *ngIf="inputValue" (click)="inputValue = null"></span>
  </ng-template>
  <app-todo-create [title]="inputValue || ''" #createTodoModal></app-todo-create>
</nz-input-group>

<div class="board-wrapper">

  <div cdkDropList id="todo" #todoList="cdkDropList" [cdkDropListData]="todo | async"
    [cdkDropListConnectedTo]="[doneList]" class="board-colons-todo" (cdkDropListDropped)="drop($event)">
    <h2>Todo</h2>
    <ng-container *ngFor="let item of todo | async">
      <app-todo-item cdkDrag [title]="item.title" [todoItem]="item"></app-todo-item>
    </ng-container>
  </div>

  <div cdkDropList id="inProgress" #inProgressList="cdkDropList" [cdkDropListData]="inProgress | async"
    [cdkDropListConnectedTo]="[doneList, todoList]" class="board-colons-inProgress" (cdkDropListDropped)="drop($event)">
    <h2>In Progress</h2>
    <ng-container *ngFor="let item of inProgress | async">
      <app-todo-item cdkDrag [title]="item.title" [todoItem]="item"></app-todo-item>
    </ng-container>
  </div>

  <div cdkDropList id="done" #doneList="cdkDropList" [cdkDropListData]="done | async"
    [cdkDropListConnectedTo]="[todoList, inProgressList]" class="example-list" class="board-colons-done"
    (cdkDropListDropped)="drop($event)">
    <h2>Done</h2>
    <ng-container *ngFor="let item of done | async">
      <app-todo-item cdkDrag [title]="item.title" [todoItem]="item"></app-todo-item>
    </ng-container>
  </div>
</div>