<button nz-button nzType="primary" (click)="modal.showModal()">Login</button>

<app-modal-window title="Login" #modal>
  <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="errorTipsTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
      <ng-template #errorTipsTemplate let-control>
        <ng-container *ngIf="control.hasError('required')">Please enter your password</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Min length is 8</ng-container>
      </ng-template>
    </nz-form-item>

    <button nz-button nzBlock class="margin" [nzType]="'primary'" [nzLoading]="isLoading">Log in</button>
  </form>
</app-modal-window>
