<nz-page-header nzBackIcon nzTitle="Sample Todo">
  <nz-page-header-extra>
    <ul nz-menu nzMode="horizontal">

      <li nz-submenu [nzTitle]="(userName$ | async)?.firstName || 'User'" nzIcon="user">
        <ul>
          <li nz-menu-item routerLink="board">Todo Board</li>
          <li nz-menu-item (click)="signOut()">signOut</li>
        </ul>
      </li>

      <li nz-menu-item routerLink="about">
        About
      </li>

      <li nz-submenu nzTitle="Options" nzIcon="setting">
        <ul>
          <li nz-menu-item (click)="switchTheme()">Switch theme</li>
        </ul>
      </li>
    </ul>
  </nz-page-header-extra>
</nz-page-header>