<nz-card [nzHoverable]="true" [nzTitle]="todoItem.title" [nzExtra]="deleteIcon" (click)="modal.showModal()">
  <p>{{todoItem.description}}</p>
</nz-card>
<app-modal-window [title]="todoItem.title" #modal>
  <app-todo-details [todo]="todoItem"></app-todo-details>
</app-modal-window>
<ng-template #deleteIcon>
  <button nz-button nzType="default" nzShape="circle" (click)="deleteItem($event, 'todo', todoItem.id || '')">
    <span nz-icon nzType="delete" nzTheme="outline"></span>
  </button>
</ng-template>