<!-- <nz-dropdown-menu #doneMenu="nzDropdownMenu">
  <ul nz-menu nzSelectable>
    <li nz-menu-item
      (click)="doActionWithTodo(done, checkAllDone, action.moveSelected,collectionName.done, collectionName.todo)">Move
      selected to Todo
    </li>
    <li nz-menu-item
      (click)="doActionWithTodo(done, checkAllDone, action.moveSelected,collectionName.done, collectionName.inProgress)">
      Move
      selected
      to In
      Progress</li>
    <li nz-menu-item (click)="doActionWithTodo(done, checkAllDone, action.deleteSelected,collectionName.done)">Delete
      selected</li>
  </ul>
</nz-dropdown-menu> -->