<div class="footer-container">
  <div>
    <button
      nz-button
      nzType="link"
      nzSize="large">
      <span
        nz-icon
        nzType="linkedin"
        nzTheme="outline"></span>
      <a href="https://www.linkedin.com/in/andrei-motevich-b6861b221/">LinkedIn</a>
    </button>
    <button
      nz-button
      nzType="link"
      nzSize="large">
      <span
        nz-icon
        nzType="github"
        nzTheme="outline"></span>
      <a href="https://github.com/AndrewMotevich">GitHub</a>
    </button>
    <button
      nz-button
      nzType="link"
      nzSize="large">
      <span
        nz-icon
        nzType="mail"
        nzTheme="outline"></span>
      <a href="mailto:motevich1995@gmail.com">email</a>
    </button>
  </div>
  <h4>Designed by Andrew Motevich ©</h4>
</div>
