<button
  nz-button
  nzType="primary"
  (click)="modal.showModal()">
  {{'BUTTONS.SIGN-UP' | translate}}
</button>

<app-modal-window
  [title]="'AUTH.SIGN-UP.TITLE' | translate"
  #modal>
  <form
    nz-form
    [nzLayout]="'vertical'"
    [formGroup]="registerForm"
    (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label>
        {{'AUTH.SIGN-UP.FIRST-NAME' | translate}}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="'AUTH.MESSAGES.REQUIRED' | translate: {value:
        'first Name'}">
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="firstName"
            [placeholder]="'AUTH.SIGN-UP.FIRST-NAME' | translate">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>
        {{'AUTH.SIGN-UP.LAST-NAME' | translate}}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="'AUTH.MESSAGES.REQUIRED' | translate: {value:
        'last name'}">
        <nz-input-group>
          <input
            type="text"
            nz-input
            formControlName="lastName"
            [placeholder]="'AUTH.SIGN-UP.LAST-NAME' | translate">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{'AUTH.SIGN-UP.EMAIL' | translate}}</nz-form-label>
      <nz-form-control [nzErrorTip]="'AUTH.MESSAGES.REQUIRED' | translate: {value:
        'email'}">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            [placeholder]="'AUTH.SIGN-UP.EMAIL' | translate">
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>{{'AUTH.SIGN-UP.PASSWORD' | translate}}</nz-form-label>
      <nz-form-control [nzErrorTip]="errorTipsTemplate">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            formControlName="password"
            [placeholder]="'AUTH.SIGN-UP.PASSWORD' | translate">
        </nz-input-group>
      </nz-form-control>
      <ng-template
        #errorTipsTemplate
        let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{('AUTH.MESSAGES.REQUIRED' | translate: {value:
          'password'})}}
        </ng-container>
        <ng-container *ngIf="control.hasError('minlength')">Min length is 8</ng-container>
      </ng-template>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>
        {{'AUTH.SIGN-UP.CONFIRM-PASS' | translate}}
      </nz-form-label>
      <nz-form-control [nzErrorTip]="errorTipsConfirmPassword">
        <nz-input-group nzPrefixIcon="lock">
          <input
            type="password"
            nz-input
            [formControl]="confirmPassword"
            [placeholder]="'AUTH.SIGN-UP.CONFIRM-PASS' | translate">
        </nz-input-group>
      </nz-form-control>
      <ng-template
        #errorTipsConfirmPassword
        let-control>
        <ng-container *ngIf="control.hasError('required')">
          {{('AUTH.MESSAGES.REQUIRED' | translate: {value:
          'confirm password'})}}
        </ng-container>
        <ng-container *ngIf="control.hasError('notEqualPasswords')">
          {{('AUTH.MESSAGES.NOT-EQUAL' |
          translate)}}
        </ng-container>
      </ng-template>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="'AUTH.MESSAGES.AGREEMENT.ERROR' | translate">
        <label
          nz-checkbox
          [formControl]="agree">
          <span>
            {{('AUTH.MESSAGES.AGREEMENT.TITLE' | translate)}}
            <a>
              {{('AUTH.MESSAGES.AGREEMENT.CONTENT' | translate)}}
            </a>
          </span>
        </label>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      nzBlock
      [nzType]="'primary'"
      [nzLoading]="isLoading">
      {{'BUTTONS.SIGN-UP' | translate}}
    </button>
  </form>
</app-modal-window>
